
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
    <h1>About ASP.NET MVC</h1>
    This is MVC framework to build web applications in MS.NET.

</body>
</html>
