@model mvcdemo.Models.Product

@{
    ViewBag.Title = "Product Information";
    Layout = "~/Views/Shared/_DemoLayout.cshtml";
}
<h1>Product Information</h1>
<h2>@Model.Name</h2>
<h3>@Model.Price.ToString("c")</h3>

<h4>Features</h4>
<ul>
    @foreach (var f in Model.Features)
    {
        if (f != null && f.Length > 0)
        {
            <li>@f</li>
        }
    }
</ul>

