
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ajax Demo</title>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script>
        function getHolder() {
            // get(url,data,successcallback)
            $.get("/Ajax/GetHolder/" + $("#acno").val(), {}, showHolder);
        }

        // result is value returned from server
        function showHolder(result) {
            $("#holder").text(result);
        }

        function beforeLoad() {
            $('#accounts').text('');
        }
    </script>
</head>
<body>
    <h2>Ajax Demo With jQuery</h2>
    Account No : <input type="text" id="acno" /> <span id="holder"></span>
    <p></p>
    <button onclick="getHolder()">Get Holder</button>

    <hr />

    <h2>Ajax Demo with AjaxLink</h2>
    @Ajax.ActionLink("Show Time", "Now", new AjaxOptions { UpdateTargetId = "now" })
    <p></p>
    <h1 id="now"></h1>


    <h2>AjaxLink with PartialView</h2>
    @Ajax.ActionLink("List Account", "ListAccounts",
         new AjaxOptions { UpdateTargetId = "accounts", OnBegin="beforeLoad()", LoadingElementId ="loadImage" })
    <img id="loadImage" src="~/Content/ajax-loader.gif"  style="display:none" />
    <p></p>
    <div id="accounts"></div>

    <h2>AjaxForm + PartialView Demo</h2>
    
    @using (Ajax.BeginForm("SearchAccounts", new AjaxOptions { UpdateTargetId = "searchResults" }))
    {
        <span>Name</span> <input type="text" name="pattern"/> <input type="submit" value="Search"/>
        <p></p>
        <div id="searchResults"></div>
    }


</body>
</html>
